table{
    border-collapse: collapse;
    margin: 5% auto;
    width: 95%;
    max-width: 100%;
}
table th{
    color: #5271ff;
    font-weight: bold;
}

table th,table td{
    border: 0.2rem solid #ddd;
    padding: 2%;
    font-family: monospace;
    font-size: 1rem;
}
